.setting {
  min-height: 100vh;
  padding-top: 10px;
  margin-top: 30px;

  &_title {
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
  }

  &_section {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
}

.folder_name { 
  display: flex;

  .static {
    font-size: 23px;
    width: 27%;
    svg {
      height: 30px;
      margin-top: -7px;
      width: 30px;
    }
  }
}